{% extends 'users/base.html' %}
{% block content %}

<form method="post>">
    {% csrf_token %}
    {{ form.as_p }}

    {% if form.errors %}
        <div class="error-list">
            <p>Исправьте, пожалуйста, следующие ошибки:</p>
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                    <li>{ field.label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <button type="submit">Сменить пароль</button>
</form>

{% endblock %}