{% extends 'myblog/base.html' %}
{% block content %}
<h2> Информация о посте № {{post.id}}</h2>
<hr>
<p> Автор - {{post.author}}</p>
<p> Название- {{post.title}}</p>
<p> Текст поста:</p>
<p> {{post.text}}</p>
<br>

<img width="300px" height="200px" src="{{post.image.url}}">
<p> Создан: - {{post.created_at}}</p>

<div>
    <a href="{% url 'myblog:post_edit' pk=post.id %}"></a>
    <form action="{% url 'myblog:post_delete' pk=post.id %}" method="post" >
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить</button>
        <button type="submit" class='text-white-50 bg-dark'style="display:inline">Редактировать</button>
    </form>
</div>


{% endblock content %}
